.jumbotron-fluid {
  width: 100%;
  height: 100vh;
  background-image: url(../pics/header1.jpg);
  background-size: cover;
  background-position: center; }

.navbar {
  background: transparent; }
  .navbar .nav-link {
    color: white; }
    .navbar .nav-link:hover {
      background-color: rgba(223, 72, 89, 0.5); }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.footer-icon {
  text-decoration: none;
  color: white; }
  .footer-icon:hover {
    opacity: 0.5; }

.staff {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .staff .rounded-circle {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8); }

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.bgimg-1 {
  min-height: 300px;
  background-image: url(../pics/pinklady.jpg); }

.bgimg-1fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady-fix.jpg); }

.bgimg-2 {
  min-height: 300px;
  background-image: url(../pics/pinklady2.jpg); }

.bgimg-2fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady2-fix.jpg); }

.bgimg-3 {
  min-height: 300px;
  background-image: url(../pics/pinklady3.jpg); }

.bgimg-3fix {
  min-height: 300px;
  background-position: center;
  background-size: cover;
  background-image: url(../pics/pinklady3-fix.jpg); }

.scrollToTop {
  color: #e48e98;
  position: fixed;
  left: 45vw;
  bottom: 0;
  display: none; }

.bgc-red {
  background-color: #df4859; }

h4 {
  line-height: 2rem; }

.header-text {
  position: absolute;
  top: 35%;
  margin: auto;
  width: 100%; }

.footer-text {
  font-size: 0.6rem; }

.bgc-black {
  background-color: black; }

.form-control {
  outline: none;
  border: none;
  border-bottom: 2px solid #E28F9A;
  padding: 12px 8px;
  border-radius: 0rem; }
  .form-control:focus {
    background-color: #F6F6F6;
    border-color: #E28F9A; }

.form-control[type=text] {
  text-indent: 0; }

.form-control:focus::-webkit-input-placeholder {
  transition: text-indent 1s 0.2s ease-in;
  text-indent: -100%;
  opacity: 1; }

.btn {
  outline: none;
  border: 2px solid #DC4A5C;
  border-radius: 25px;
  background-color: white;
  width: 60%;
  padding: 10px;
  color: #4B4D54;
  transition: background-color 0.5s;
  cursor: pointer; }
  .btn:hover {
    background-color: #DC4A5C;
    color: white; }

.btn-secondary:hover {
  border-color: #DC4A5C; }

.btn-secondary.focus, .btn-secondary:focus {
  outline: none !important;
  background-color: #DC4A5C !important;
  color: #ffffff !important;
  border-color: #DC4A5C !important; }

.font-bold {
  font-weight: bold; }

.about-border-box:nth-child(3n+2) .service-icon:hover {
  border: 10px solid #DF4859; }

.about-border-box:nth-child(3n+3) .service-icon:hover {
  border: 10px solid #E48E98; }

.about-border-box:nth-child(3n+1) .service-icon:hover {
  border: 10px solid #EFF0D1; }

.service-icon {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  border: 10px solid #ececec;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

/*# sourceMappingURL=main.css.map */
